sounder
pyaudio
PyDispatcher
eyeD3
python-magic-bin==0.4.14
pygame
gTTS
gtts-token
SpeechRecognition
Metaphone
newsapi
soccerpy
pyball
requests
evernote3
pytz
facebook-sdk
python-dateutil
Httplib2
apiclient
oauth2client
omdb
psutil
tweepy
Pyowm
urllib3
